<!-- <h2>HUK Stencil Components</h2>
<p>Some HUK2 Stencil Components</p>
<br  /> -->
<app-post-list></app-post-list>
<!-- <div  class="components">
	<huk-input-field
		ngDefaultControl
		[(ngModel)]="employeeModel.name"
		label="Employee Name:"
		placeholder="Enter name"
		required>
	</huk-input-field>
	<huk-select
		ngDefaultControl
		[(ngModel)]="employeeModel.type"
		label="Employee Type:"
		required
		options='[{"name":"Please select","value":""},{"name":"Full-Time","value":"fulltime"},{"name":"Part-Time","value":"parttime"}]'>
	</huk-select>
	<br>
	<h3>Employee Model</h3>
	<pre>{{ employeeModel | json }}</pre>
</div> -->
